{{define "nav"}}
 <nav>
 <div>
    <a href='/'>snip-doc</a>
    <a href='/snippet/create'>add-snippet</a>
    </div>
    <div>
        <a href='/user/signup'>sign-up</a>
        <a href='/user/login'>login</a>
        <form action='/user/logout' method='POST'>
            <button>logout</button>
        </form>
    </div>
</nav>
{{end}}
